:host ::ng-deep {
  .content {
    .success {
      color: green;
    }
    .error {
      color: red;
    }
    .employee {
      display: flex;
      gap: 20px;
      margin: 10px 0;
    }
    .table {
      border-radius: 5px;
      border: 1px solid black;
      width: 300px;
      th, td {
        padding: 10px 0;
      }
      tbody {
        tr {
          cursor: pointer;
          &:hover {
            background-color: #eaeaea;
          }
          td {
            text-align: center;
            border: 1px solid black
          }
        }
      }
    }
  }
}
